
.cell {
    width: 100%;
    height: 100%;
    font-size: 2em;
    text-align: center;
    user-select: none;
    /*transition: background-color 0.3s; */
}

.cellHarbour { 
    /*color: #1081ff !important; */
    background-color: #a8d1ff; 
}

.cellBlocked.cellHarbour button{
    color: #a8d1ff !important; 
}
  
.cellOcean { 
    background-color: #5ca9ff;
}
.cellOcean button {
    color: #5ca9ff !important; /* #1081ff !important;*/ 
}
  
.cellActivated {
    font-weight: bold;
    cursor: pointer;
    background-color: #134e13;
    color: white;
    opacity: 1;
}

.cellActivated button {
    color: white !important;
}
  
.cellUnactivated {
    cursor: pointer;
}
  
.cellBlocked {
    cursor: not-allowed;
}
  
.cellDim {
    color: #999;
}

.cellUnactivatable {
    color: #999;
    cursor: not-allowed;
}
  
.cellSettlement { 
  font-weight: bold;
  opacity: 1;
}

.cellSpan {
    opacity: 1;
}

.noneActivated:not(.cellSettlement) {
    opacity: 0;
}

.cellCanActivate:not(.cellHarbour) { 
    opacity: 0.5;
}

.cellUnactivatable:not(.cellHarbour):not(.cellOcean) {
    opacity: 0;
}